<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.base.member.MemberDAO">
	  
	  <select id="idDuplicateCheck" parameterType="MemberVO" resultType="MemberVO">
	  	SELECT USERNAME FROM MEMBER
	  	WHERE USERNAME = #{userName}
	  </select>
	  
	  <select id="getLogin" parameterType="MemberVO" resultMap="getLoginResult">
	  	SELECT M.USERNAME, M.NAME, M.EMAIL, R.NUM, R.ROLENAME
	  	FROM MEMBER M
	  		INNER JOIN
	  		MEMBERROLE MR
	  		ON M.USERNAME = MR.USERNAME
	  		INNER JOIN
	  		ROLE R
	  		ON MR.NUM = R.NUM
	  	WHERE M.USERNAME = #{userName} AND M.PASSWORD = #{password}
	  </select>
	  
	  <resultMap type="MemberVO" id="getLoginResult">
	  	<id property="userName" column="USERNAME"/>
	  	<result property="email" column="EMAIL"/>
	  	<collection property="roleVOs" javaType="List" ofType="RoleVO">
	  		<id property="num" column="NUM"/>
	  		<result property="roleName" column="ROLENAME"/>
	  	</collection>
	  </resultMap>
	  
	  <insert id="setJoin" parameterType="MemberVO">
  		INSERT INTO MEMBER
  		VALUES(#{userName}, #{password}, #{name}, #{email}, #{birth}, #{enabled})
  	</insert>
  	
  	<insert id="setRoleAdd" parameterType="Map">
  		INSERT INTO MEMBERROLE(USERNAME, NUM)
  		VALUES(#{userName}, #{num})
  	</insert>
	  
  </mapper>