<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.base.member.MemberDAO">
	  
	  <select id="getBirth" resultType="MemberVO">
	  	SELECT NAME FROM MEMBER
		WHERE DATE_FORMAT(BIRTH, '%m-%d') = DATE_FORMAT(now(), '%m-%d')
	  </select>
	  
	  <update id="setEnabled">
		UPDATE MEMBER SET ENABLED = 0
		WHERE USERNAME 
		IN 
			( SELECT USERNAME FROM MEMBER 
			  WHERE TIMESTAMPDIFF(DAY, lastTime, now()) >= 3)
	<!--	
		<![CDATA[  
	 		UPDATE MEMBER SET ENABLED=0
			WHERE LASTTIME <= now()-INTERVAL 3 DAY
		]]>
	 -->	
		</update>
	  
	  <select id="getList" resultType="MemberVO">
  		SELECT USERNAME FROM MEMBER
  	  </select>
  	  
  	  <update id="setLogout" parameterType="MemberVO">
  	  	UPDATE MEMBER SET LASTTIME = now()
  	  	WHERE USERNAME = #{username}
  	  </update>
	  
	  <select id="idDuplicateCheck" parameterType="MemberVO" resultType="MemberVO">
	  	SELECT USERNAME FROM MEMBER
	  	WHERE USERNAME = #{username}
	  </select>
	  
	  <select id="getLogin" parameterType="MemberVO" resultMap="getLoginResult">
	  	SELECT M.username, M.password, M.NAME, M.EMAIL, R.NUM, R.ROLENAME
	  	FROM MEMBER M
	  		INNER JOIN
	  		MEMBERROLE MR
	  		ON M.username = MR.username
	  		INNER JOIN
	  		ROLE R
	  		ON MR.NUM = R.NUM
	  	WHERE M.USERNAME = #{username}
	  </select>
	  
	  <resultMap type="MemberVO" id="getLoginResult">
	  	<id property="username" column="username"/>
	  	<result property="password" column="PASSWORD"/>
	  	<result property="email" column="EMAIL"/>
	  	<collection property="roleVOs" javaType="List" ofType="RoleVO">
	  		<id property="num" column="NUM"/>
	  		<result property="roleName" column="ROLENAME"/>
	  	</collection>
	  </resultMap>
	  
	  <insert id="setJoin" parameterType="MemberVO">
  		INSERT INTO MEMBER
  		VALUES(#{username}, #{password}, #{name}, #{email}, #{birth}, 1, now())
  	</insert>
  	
  	<insert id="setRoleAdd" parameterType="Map">
  		INSERT INTO MEMBERROLE(USERNAME, NUM)
  		VALUES(#{username}, #{num})
  	</insert>
	  
  </mapper>